<% provide(:title, 'perfil') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %> 
      </h1>
      <h4>
        <%= @user.email %> 
      </h4>      
    </section>
  </aside>
</div>